{% extends 'layout.html' %}

{% block content %}
  <div class="card" style="width: 18rem;">
      <img src="image_url_here" class="card-img-top" alt="...">
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Plan Price: {{price}}Rs</li>
          <li class="list-group-item">Total Videos: {{total_videos}}</li>
          <li class="list-group-item">1 video = {{video1}}</li>
          <li class="list-group-item">Plan Validity: {{plan_validity}} Days</li>
          
      </ul>
      <div class="card-body">
          <a href="{{ url }}" class="btn btn-primary">Buy Plan</a>
      </div>
  </div>
{% endblock %}